<div mat-dialog-title class="title">
  <span>Add book</span>
  <app-button icon="close" [mat-dialog-close]="false"></app-button>
</div>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <app-input formControlName="title" label="Title"></app-input>
    <app-input formControlName="author" label="Author"></app-input>
    <app-input formControlName="genre" label="Genre"></app-input>
    <app-input
      formControlName="publication_year"
      label="Publication Year"
    ></app-input>
    <!-- <app-input formControlName="image_url" label="Image URL"></app-input> -->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <app-button icon="check_circle" (click)="save()">Submit</app-button>
</mat-dialog-actions>
