<div mat-dialog-title class="title">
  <span>Add book</span>
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <app-input formControlName="title" label="Title"></app-input>
    <app-input formControlName="author" label="Author"></app-input>
    <app-input formControlName="genre" label="Genre"></app-input>
    <app-input
      formControlName="publicationYear"
      label="Publication Year"
    ></app-input>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" (click)="save()" class="save-button">
    Submit
    <mat-icon>check_circle_outline</mat-icon>
  </button>
</mat-dialog-actions>
