<mat-card class="book-card">
  <mat-card-content>
    <app-book-image [imageSource]="imageSource"></app-book-image>
    <div class="book-details-and-like">
      <app-book-details
        [title]="title"
        [author]="author"
        [publicationYear]="publicationYear"
      >
      </app-book-details>
      <app-like class="like"></app-like>
    </div>
    <mat-card-actions class="button-container">
      <app-button [outline]="true" icon="edit" (click)="openEditDialog()"
        >Edit</app-button
      >
      <app-button [outline]="true" icon="delete" (click)="delete()"
        >Delete</app-button
      >
    </mat-card-actions>
  </mat-card-content>
</mat-card>
