@use "../../../../assets/styles/variables.scss" as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$white;
  border-bottom: 1px solid var.$light-gray;

  .wrapper {
    display: flex;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        margin: 0 8px 0 16px;
      }

      mat-icon {
        color: var.$deep-purple;
        scale: 1.5;
        margin: 0 8px 0 16px;
      }

      .name {
        font-size: 32px;
        font-weight: bold;
        color: var.$black;
      }
    }

    .tab-group {
      padding: 0 16px;
    }

    .button-container {
      display: flex;
      align-items: center;
    }
  }
}
